.container {
    position: relative;
    padding: 0 $sm-padding;
    .blur-orange-bg {
        position: absolute;
        z-index: 1;
        opacity: 0.5;
        background-color: rgba(255, 87, 34, 1);
        width: rem(272);
        height: rem(348);
        top: rem(-36);
        left: rem(-105);
        filter: blur(150px);
    }
}

@include for-device-width('md') {
    .container {
        padding: 0 $md-padding;
        .blur-orange-bg {
            width: rem(500);
            height: rem(500);
            top: rem(-160);
            left: rem(-160);
            filter: blur(250px);
        }
    }
}

@include for-device-width('lg') {
    .container {
        padding: 0 $lg-padding;
        .blur-orange-bg {
            width: rem(600);
            height: rem(494.9);
            top: rem(60);
            left: rem(-50);
            filter: blur(250px);
        }
    }
}
