.container {
    position: relative;
    padding: 0 $sm-padding;
    .blur-orange-bg {
        position: absolute;
        z-index: 1;
        opacity: 0.5;
        background-color: $orange-color;
        width: rem(272);
        height: rem(348);
        top: -36px;
        left: -105px;
        filter: blur(150px);
    }
}

@include for-device-width('md') {
    .container {
        padding: 0 $md-padding;
        .blur-orange-bg {
            width: rem(500);
            height: rem(500);
            top: -160px;
            left: -160px;
            filter: blur(250px);
        }
    }
}

@include for-device-width('lg') {
    .container {
        max-width: 1900px;
        margin: auto;
        padding: 0 $lg-padding;
        .blur-orange-bg {
            width: rem(600);
            height: rem(495);
            top: 60px;
            left: -50px;
            filter: blur(250px);
        }
    }
}
