.footer {
    padding-top: rem(85);
    padding-left: rem(10);
    &__desc {
        &__logo {
            padding: rem(15) 0;
            font-size: rem(24);
            font-weight: 900;
            line-height: rem(40);
            display: flex;
            align-items: center;
            gap: rem(10);
            img {
                margin: rem(5);
            }
        }
        &__p {
            padding: rem(10) 0;
        }
        &__socials {
            margin-top: rem(15);
            padding: rem(5);
            display: flex;
            gap: rem(30);
        }
    }
    &__navs {
        .footer-links-section {
            margin: rem(5);
            margin-top: rem(75);
            margin-bottom: rem(50);
            &__heading {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .links-heading {
                    font-size: rem(23);
                    font-weight: 700;
                    line-height: 120%;
                }
                img {
                    cursor: pointer;
                }
            }
            &__nav-links {
                margin-top: rem(20);
                display: none;
                ul {
                    li {
                        margin: rem(10);
                        a {
                            color: #191825bf;
                        }
                        address {
                            color: #191825bf;
                        }
                    }
                }
            }
        }
    }
    .show-footer-navs {
        display: block;
    }
}
.footer-decorator-img {
    display: none;
}

@include for-device-width('md') {
    .footer {
        position: relative;
        padding-top: rem(165);
        padding-left: 0;
        &__desc {
            &__logo {
                font-size: rem(24);
                gap: rem(10);
                img {
                    width: rem(40);
                }
            }
            &__p {
                max-width: rem(870);
                font-size: rem(23);
            }
            &__socials {
                margin-top: rem(10);
                gap: rem(30);
                a {
                    img {
                        width: rem(30);
                    }
                }
            }
        }
        &__navs {
            display: flex;
            justify-content: space-between;
            gap: 0;
            margin-left: 0;
            .footer-links-section {
                margin-top: rem(55);
                &__heading {
                    .links-heading {
                        font-size: rem(22);
                    }
                    img {
                        display: none;
                    }
                }
                &__nav-links {
                    margin-top: rem(35);
                    display: flex;
                    ul {
                        li {
                            margin: 0;
                            margin-bottom: rem(40);
                            font-size: rem(18);
                            line-height: 120%;
                        }
                    }
                }
            }
        }
    }
    .footer-decorator-img {
        display: inline;
        position: absolute;
        right: rem(-50);
        top: rem(320);
        width: rem(120);
    }
}

@include for-device-width('lg') {
    .footer {
        position: relative;
        display: flex;
        padding-top: rem(380);
        &__desc {
            max-width: rem(730);
            &__logo {
                padding: 20px 0px 15px 0px;
                font-size: 30px;
                gap: 15px;
                img {
                    width: 50px;
                }
            }
            &__p {
                font-size: 30px;
            }
            &__socials {
                margin-top: 70px;
                gap: 40px;
                a {
                    img {
                        width: 40px;
                    }
                }
            }
        }
        &__navs {
            display: flex;
            gap: 40px;
            margin-left: 70px;
            .footer-links-section {
                width: 200px;
                margin-top: 20px;
                &__heading {
                    .links-heading {
                        font-size: 29px;
                    }
                    img {
                        display: none;
                    }
                }
                &__nav-links {
                    margin-top: 50px;
                    display: flex;
                    ul {
                        li {
                            margin: 0px;
                            margin-bottom: 50px;
                            font-size: 24px;
                            line-height: 120%;
                        }
                    }
                }
            }
        }
    }
    .footer-decorator-img {
        display: inline;
        position: absolute;
        right: -140px;
        top: 410px;
        width: 150px;
    }
}
