
#login-sign-btns{
    display:none;
    width: auto;
}
#header-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    #hamburger{
        button{
            cursor: pointer;
        }
    }
    
}
.mob-nav-only{
    display: none;
}
//css for tablet + mobile
@media screen and (max-width: 1023px) {
    .nav-menu {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      opacity: .80;
      z-index: 1000;
      ul{
          margin: auto;
          width: 100%;
          li{
              background: #e7e3e3;
              text-align: center;
              border: 1px solid #a19b9b;
              border-radius: 50px;
              cursor: pointer;
              a{
                  width: 100%;
                }
            }
    }
    }
    
}

//for mobile only
@media screen and (max-width:430px){
    
    header{
        padding: 40px 0px;
        img{
            height: 40px;
        }
        .mob-nav-only{
            display:block;
        }
    }
}

//for tablet only
@media (min-width: 431px) and (max-width: 1023px) {
    header{
        display: flex;
        justify-content: space-between;
        padding: 40px 0px;
        #header-section{
            #hamburger{
                width: 5px;
            }
            width: 50%;
            flex-direction: row-reverse;
            div{
                img{
                    width: 50px;
                }
            }
        }
        #login-sign-btns{
            display: block;
            min-width: 280px;
        }
    }
    
    
}
//css for laptop only
@media screen and (min-width:1024px){
    #login-sign-btns{
        display:block;
    }
    #hamburger{
        display: none;
    }
    header{
        padding: 115px 0px;
        height: 112px;
        align-items: center;
        display: flex;
        justify-content: space-between;
        #header-section{
            div{
                img{
                    width: 50px;
                }
            }
        }
        div{
            width: 61%;
            .nav-menu{
                margin: 10px;
                display: flex;
                align-items: center;
                width: 820px;
                ul{
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    li{
                        font-size: large;
                    }
                }
            }
        }   
    }
}

.show{
    display: flex;
}