.nav-menu__menu-btn--hide {
    position: fixed;
    right: 2%;
    top: 2%;
    width: rem(40);
    height: rem(40);
    display: flex;
    font-weight: 900;
    color: white;
    font-size: xx-large;
    justify-content: center;
    align-items: center;
    border-radius: rem(10);
    cursor: pointer;
}
.login-sign-btns {
    display: none;
    width: auto;
}
header {
    position: relative;
    padding: 35px 0;
    .nav-menu__mob-nav-only {
        display: block;
    }
}
.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    #hamburger {
        button {
            cursor: pointer;
        }
        button:hover {
            box-shadow: none;
            transform: none;
        }
    }
    .header-section__icon {
        z-index: 2;
        img {
            width: rem(40);
        }
    }
}
.nav-menu__mob-nav-only {
    display: none;
}
.nav-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $primary-color;
    width: 100%;
    height: 100vh;
    opacity: 0.9;
    z-index: 3;
    ul {
        margin: auto;
        width: 100%;
        li {
            margin: 5px;
            text-align: center;
            cursor: pointer;
            a {
                width: 100%;
                color: white;
                height: rem(100);
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: larger;
            }
        }
    }
}

//for tablet only
@include for-device-width('md') {
    .login-sign-btns {
        display: block;
    }
    #hamburger {
        z-index: 2;
    }
    header {
        display: flex;
        justify-content: space-between;
        padding: 32px 0;
        .nav-menu__mob-nav-only {
            display: none;
        }
        .header-section {
            width: 53%;
            flex-direction: row-reverse;
            &__icon {
                img {
                    width: rem(40);
                }
            }
        }
        .login-sign-btns {
            width: auto;
            min-width: rem(225);
            button {
                font-size: rem(14);
                padding: 17px 30px;
            }
        }
    }
}

//css for laptop only
@include for-device-width('lg') {
    .login-sign-btns {
        display: block;
        min-width: rem(278);
    }
    #hamburger {
        display: none;
    }
    header {
        width: 100%;
        padding: 115px 0;
        height: rem(112);
        align-items: center;
        display: flex;
        justify-content: space-between;

        .header-section {
            width: 61%;
            flex-direction: row;
            .header-section__icon {
                img {
                    width: rem(50);
                }
            }
            .nav-menu {
                position: static;
                background-color: transparent;
                margin: rem(2);
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: rem(640);
                ul {
                    .nav-menu__menu-btn--hide {
                        display: none;
                    }
                    .nav-menu__mob-nav-only {
                        display: none;
                    }

                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    li {
                        a {
                            color: $nav-links-color;
                            height: auto;
                        }
                        a:hover {
                            color: black;
                        }
                    }
                }
            }
        }
        .login-sign-btns {
            width: auto;
            min-width: rem(300);
            button {
                font-size: rem(16);
                padding: 22px 46px;
            }
        }
    }
}

.show {
    display: flex;
}
