.hero-section{
    
    .hero-section__img-section{
        margin-top: 30px;
        position: relative;
        .hero-section__img-section__location-icon{
            position:absolute;
            width: 62px;
            top: 170px;
            left: 15px;
        }
        .hero-section__img-section__connect-icon{
            position: absolute;
            width: 62px;
            top: 317px;
            left: 220px;
        }
        .hero-section__img-section__top-places-icon{
            position: absolute;
            width: 110px;
            top: 240px;
            left: 280px;
        }
        width: 385px;
        background-image: url('/assets/layer.png');
        background-repeat: no-repeat;
        background-size: contain;
        .hero-section__img-section__imgs{
            width: 100%;
            .hero-section__img-section__imgs__container1{
                width: 35%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                img{
                    width: 100%;
                }
            }
            .hero-section__img-section__imgs__container2{
                width: 35%;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    width: 100%;
                }
            }
            display: flex;
            justify-content: center;
            gap: 15px;
            padding-top: 40px;

            .hero-section__img-section__imgs__container1{
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
        }
        
    }

    .hero-section__content-section{
        text-align: center;
        padding: 25px 0px;
        .hero-section__content-section__heading1{
            color: $secondary-color;
            font-size: small;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 12px;
            padding: 15px;
            width: 224px;
            margin: auto;
            border-radius: 100px;
            box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
            
        }
        .hero-section__content-section__heading2{
            font-size: 40px;
            padding: 18px 0px;
            font-weight: 700;
            span{
                color: $secondary-color;
            }
        }
        .hero-section__content-section__para{
            padding: 8px 4px;
            color: gray;
            line-height: 25px;
        }
        .hero-section__content-section__btns{
            .pri-btn{
                box-shadow: 0px 20px 15px rgba(0, 0, 0, 0.15);
            }
            .sec-btn{
                display: flex;
                justify-content: center;
                gap: 8px;
                align-items: center;
                border: 1px solid #EEEEEE;
            }
        }
    }
}
.triangles-image{
    display: none;
}

//mobile
@include mobile-only{
    .hero-section{
        margin: 15px 0px;

        .hero-section__content-section{

            .hero-section__content-section__btns{
                
                .pri-btn{
                    margin: 20px 0px;
                    height: 65px;
                    width: 100%;
                    font-size: 14px;
                    font-weight: 700;
                    font-style: bold;
                    box-shadow: 0px 20px 15px rgba(0, 0, 0, 0.15);
                }
                .sec-btn{
                    margin-top: 5px;
                    height: 65px;
                    display: flex;
                    justify-content: center;
                    gap: 8px;
                    align-items: center;
                    width: 100%;
                    border: 1px solid #EEEEEE;
                    font-size: 14px;
                    font-weight: 700;
                    font-style: bold;
                }
            }
        }
    }
    .websites-logo{
        padding-top: 20px;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        column-gap: 20px;
        .tripadvisor{
            width: 130px;
        }
        .expedia{
            width: 70px;
        }
        .booking{
            width: 120px;
        }
        .airbnb{
            width: 65px;
        }
        .orbitz{
            width: 110px;
        }
    }
}

//tablet
@include tablet-only{
    .hero-section{
        position: relative;
        padding-top: 60px;
        .hero-section__img-section{
            margin: auto;
            width: 85%;
            .hero-section__img-section__location-icon{
                position:absolute;
                top: 48%;
                left: 3%;
                width: 17%;
            }
            .hero-section__img-section__connect-icon{
                position: absolute;
                width: 17%;
                top: 92%;
                left: 57%;
            }
            .hero-section__img-section__top-places-icon{
                position: absolute;
                width:30%;
                top: 69%;
                left: 73%;
            }
            .hero-section__img-section__imgs{
                width: 100%;
                display: flex;
                padding-top: 0px;
                gap: 4%;
                .hero-section__img-section__imgs__container1{
                    margin-top: 10%;
                    width: 35%;
                    gap: 30px;
                    div{
                        width: 100%;
                    }
                }
                .hero-section__img-section__imgs__container2{
                    margin-top: 10%;
                    width: 35%;
                    div{
                        width: 100%;
                    }
                }
            }
        }
        .hero-section__content-section{
            padding-top: 70px;
            max-width: 570px;
            margin: auto;
            text-align: center;
            .hero-section__content-section__heading2{
                margin-top: 25px;
                font-size: 55px;
            }
            .hero-section__content-section__para{
                max-width:450px;
                padding-top: 25px;
                line-height: 150%;
                font-size: 19px;
                margin:auto;
            }
            .hero-section__content-section__btns{
                padding: 20px;
                width: auto;
                margin: auto;
                display: flex;
                justify-content: center;
                margin-top: 10px;
                button{
                    font-size: 14px;
                    margin: 5px;
                    padding: 13px 34px;
                }
            }
        }
        .triangles-image{
            display: block;
            position: absolute;
            left: -25px;
            top: 1125px;
        }
    }
    .websites-logo{
        padding-top: 80px;
        display: flex;
        width: 70%;
        margin: auto;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        column-gap: 25px;
        .tripadvisor{
            width: 32%;
        }
        .expedia{
            width: 18%;
        }
        .booking{
            width: 30%;
        }
        .airbnb{
            width: 17%;
        }
        .orbitz{
            width: 28%;
        }
    }
}

//laptop
@include laptop-only {
    .hero-section{
        display: flex;
        flex-direction: row-reverse;
        margin-top: 2%;
        min-width: 865px;
        .hero-section__img-section{
            margin: auto;
            margin-top: 0px;
            margin-left: 45px;
            width: 65%;
            min-width: 500px;
            .hero-section__img-section__location-icon{
                position:absolute;
                top: 49%;
                left: 3%;
                width: 17%;
            }
            .hero-section__img-section__connect-icon{
                position: absolute;
                width: 17%;
                top: 93%;
                left: 58%;
            }
            .hero-section__img-section__top-places-icon{
                position: absolute;
                width:30%;
                top: 70%;
                left: 73%;
            }
            .hero-section__img-section__imgs{
                width: 100%;
                display: flex;
                padding-top: 0px;
                gap: 4%;
                .hero-section__img-section__imgs__container1{
                    margin-top: 10%;
                    width: 35%;
                    gap: 40px;
                    div{
                        width: 100%;
                    }
                }
                .hero-section__img-section__imgs__container2{
                    margin-top: 10%;
                    width: 35%;
                    div{
                        width: 100%;
                    }
                }
            }
        }
        .hero-section__content-section{
            padding-top: 6.25%;
            .hero-section__content-section__heading1{
                margin: 0px;
                margin-left: 10px;
                width: 270px;
                font-size: 18px;
                img{
                    width: 30px;
                }
            }
            .hero-section__content-section__heading2{
                margin-top: 10%;
                text-align: left;
                width: 500px;
                font: bold;
                line-height: 120%;
                font-size: 5.5rem
            }
            .hero-section__content-section__para{
                margin-top: 5%;;
                font-size: 24px;
                font-weight: 400;
                line-height: 160%;
                text-align: left;
                width: 450px;
            }
            .hero-section__content-section__btns{
                width: auto;
                margin: auto;
                display: flex;
                margin-top: 80px;
                gap: 20px;
                button{
                    padding: 20px 45px;
                    font-size: 17px;
                    img{
                        width: 25px;
                    }
                }
            }
        }
        .triangles-image{
            display: block;
            position: absolute;
            left: 45px;
            top: 1110px;
            img{
                width: 82px;
            }
        }
    }
    .websites-logo{
        margin-top: 175px;
        display: flex;
        width: 100%;
        justify-content: space-between;
        gap: 10px;
        .tripadvisor{
            width: 18%;
        }
        .expedia{
            width: 10%;
        }
        .booking{
            width: 16%;
        }
        .airbnb{
            width: 9%;
        }
        .orbitz{
            width: 14%;
        }
    }
}
