.hero-section {
    margin: 15px 0px;
    &__img-section {
        margin-top: 30px;
        position: relative;
        &__location-icon {
            position: absolute;
            width: 62px;
            top: 170px;
            left: 15px;
        }
        &__connect-icon {
            position: absolute;
            width: 62px;
            top: 317px;
            left: 220px;
        }
        &__top-places-icon {
            position: absolute;
            width: 110px;
            top: 240px;
            left: 280px;
        }
        width: 385px;
        background-image: url('/assets/layer.png');
        background-repeat: no-repeat;
        background-size: contain;
        &__imgs {
            width: 100%;
            &__left-img {
                width: 35%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                img {
                    width: 100%;
                }
            }
            &__right-img {
                width: 35%;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: 100%;
                }
            }
            display: flex;
            justify-content: center;
            gap: 15px;
            padding-top: 40px;

            &__left-img {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
        }
    }

    &__content-section {
        text-align: center;
        padding: 35px 0px;
        &__heading1 {
            color: $secondary-color;
            font-size: small;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 12px;
            padding: 15px;
            width: 224px;
            margin: auto;
            border-radius: 100px;
            box-shadow: 0px 10px 15px #00000026;
        }
        &__heading2 {
            font-size: 40px;
            padding: 18px 0px;
            font-weight: 700;
            span {
                color: $secondary-color;
            }
        }
        &__para {
            padding: 8px 4px;
            line-height: 25px;
        }
        &__btns {
            .primary-btn {
                box-shadow: 0px 20px 15px #00000026;
                margin: 20px 0px;
                height: 65px;
                width: 100%;
                font-size: 14px;
                font-weight: 700;
                font-style: bold;
            }
            .secondary-btn {
                display: flex;
                justify-content: center;
                gap: 8px;
                align-items: center;
                border: 1px solid $light-btn-border;
                margin-top: 5px;
                height: 65px;
                width: 100%;
                font-size: 14px;
                font-weight: 700;
                font-style: bold;
            }
        }
    }
}
.triangles-image {
    display: none;
}

//mobile
.websites-logo {
    padding-top: 20px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    column-gap: 20px;
    .tripadvisor {
        width: 130px;
    }
    .expedia {
        width: 70px;
    }
    .booking {
        width: 120px;
    }
    .airbnb {
        width: 65px;
    }
    .orbitz {
        width: 110px;
    }
}

//tablet
@include for-device-width('md') {
    .hero-section {
        position: relative;
        padding-top: 50px;
        &__img-section {
            margin: auto;
            width: 85%;
            &__location-icon {
                position: absolute;
                top: 48%;
                left: 3%;
                width: 17%;
            }
            &__connect-icon {
                position: absolute;
                width: 17%;
                top: 92%;
                left: 57%;
            }
            &__top-places-icon {
                position: absolute;
                width: 30%;
                top: 69%;
                left: 73%;
            }
            &__imgs {
                width: 100%;
                display: flex;
                padding-top: 0px;
                gap: 4%;
                &__left-img {
                    margin-top: 10%;
                    width: 35%;
                    gap: 30px;
                    div {
                        width: 100%;
                    }
                }
                &__right-img {
                    margin-top: 10%;
                    width: 35%;
                    div {
                        width: 100%;
                    }
                }
            }
        }
        &__content-section {
            padding-top: 60px;
            max-width: 570px;
            margin: auto;
            text-align: center;
            &__heading2 {
                margin-top: 25px;
                font-size: 55px;
                line-height: 130%;
            }
            &__para {
                max-width: 450px;
                padding-top: 25px;
                margin: auto;
            }
            &__btns {
                padding: 0px;
                width: 400px;
                margin: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 5px;
                gap: 10px;
                button {
                    font-size: 14px;
                }
                .primary-btn {
                    padding: 0px;
                    height: 50px;
                    width: 150px;
                }
                .secondary-btn {
                    padding: 0px;
                    height: 50px;
                    width: 170px;
                }
            }
        }
        .triangles-image {
            display: block;
            position: absolute;
            left: -15px;
            top: 1135px;
        }
    }
    .websites-logo {
        padding-top: 60px;
        display: flex;
        width: 70%;
        margin: auto;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        column-gap: 25px;
        .tripadvisor {
            width: 32%;
        }
        .expedia {
            width: 18%;
        }
        .booking {
            width: 30%;
        }
        .airbnb {
            width: 17%;
        }
        .orbitz {
            width: 28%;
        }
    }
}

//laptop
@include for-device-width('lg') {
    .hero-section {
        display: flex;
        flex-direction: row-reverse;
        padding-top: 1%;
        min-width: 865px;
        &__img-section {
            margin: auto;
            margin-top: 0px;
            margin-left: 45px;
            width: 65%;
            min-width: 500px;
            &__location-icon {
                position: absolute;
                top: 49%;
                left: 3%;
                width: 17%;
            }
            &__connect-icon {
                position: absolute;
                width: 17%;
                top: 93%;
                left: 58%;
            }
            &__top-places-icon {
                position: absolute;
                width: 30%;
                top: 70%;
                left: 73%;
            }
            &__imgs {
                width: 100%;
                display: flex;
                padding-top: 0px;
                gap: 4%;
                &__left-img {
                    margin-top: 10%;
                    width: 35%;
                    gap: 40px;
                    div {
                        width: 100%;
                    }
                }
                &__right-img {
                    margin-top: 10%;
                    width: 35%;
                    div {
                        width: 100%;
                    }
                }
            }
        }
        &__content-section {
            padding-top: 2%;
            &__heading1 {
                margin: 0px;
                margin-left: 10px;
                width: 270px;
                font-size: 18px;
                img {
                    width: 30px;
                }
            }
            &__heading2 {
                margin-top: 10%;
                text-align: left;
                width: 500px;
                font: bold;
                line-height: 120%;
                font-size: 5.5rem;
            }
            &__para {
                margin-top: 3%;
                text-align: left;
                width: 450px;
            }
            &__btns {
                width: 450px;
                display: flex;
                justify-content: left;
                margin-top: 40px;
                gap: 20px;
                align-items: center;
                button {
                    img {
                        width: 25px;
                    }
                }
                .primary-btn {
                    width: 170px;
                    height: 60px;
                    font-size: 17px;
                }
                .secondary-btn {
                    width: 220px;
                    font-size: 17px;
                    height: 70px;
                }
            }
        }
        .triangles-image {
            display: block;
            position: absolute;
            left: -100px;
            top: 880px;
            img {
                width: 82px;
            }
        }
    }
    .websites-logo {
        margin-top: 90px;
        display: flex;
        width: 100%;
        justify-content: space-between;
        gap: 10px;
        .tripadvisor {
            width: 18%;
        }
        .expedia {
            width: 10%;
        }
        .booking {
            width: 16%;
        }
        .airbnb {
            width: 9%;
        }
        .orbitz {
            width: 14%;
        }
    }
}
