.testimonial-section {
    text-align: center;
    padding-top: 100px;
    &__h1 {
        padding-top: 5px;
        font-size: 16px;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: 20%;
        color: $secondary-color;
    }
    &__h2 {
        font-weight: bold;
        font-size: 30px;
        padding: 15px;
    }
}

.splide {
    max-width: 500px;
    height: 550px;
    margin: 2rem auto;
}
.splide__track {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
}
.splide__slide {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    .slide {
        padding-top: 15px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__name {
            padding-top: 70px;
            font-size: 24px;
            span {
                color: rgba(255, 87, 34, 1);
            }
        }
        &__rating {
            display: flex;
            flex-direction: row;
            width: 56%;
            margin: auto;
            margin-top: 30px;
            margin-bottom: 62px;
            gap: 16px;
            img {
                display: inline;
            }
        }
        &__feedback {
            font-weight: 450;
            font-size: 18px;
            line-height: 160%;
            letter-spacing: 0%;
        }
    }
}
.splide__arrows {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    button {
        padding: 0px;
        width: 62px;
        height: 62px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.splide__pagination {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 0;
    padding: 0;
    list-style: none;
    pointer-events: auto;
    z-index: 10;
    li {
        margin: 0;
        display: block;
        button {
            display: block;
            width: 22px;
            height: 22px;
            border-radius: 50%;
            background: #ddd;
            cursor: pointer;
        }
        button.is-active {
            background: $secondary-color;
        }
    }
}
