
.travel-section{
    padding-top: 125px;
    text-align: center;
    &__img{
        margin-left: -$mobile-padding;
    }
    &__content{
        padding-top: 22px;
        &__h1{
            font-size: 15px;
            font-weight: 700;
            font-style: Bold;
            line-height: 120%;
            letter-spacing: 20%;
            color: $secondary-color;
        }
        &__h2{
            padding-top: 20px;
            font-weight: 700;
            font-style: Bold;
            font-size: 30px;
            line-height: 120%;
            letter-spacing: 0%;
        }
        &__para{
            padding-top: 30px;
            width: 90%;
            margin: auto;
            font-weight: 400;
            size: 15px;
            line-height: 160%;
            letter-spacing: 0%;
            color: rgba(25, 24, 37, 0.5);
        }
    }
}
.travel-points{
    padding-top: 30px;
    &__point{
        border: 1px solid rgba(25, 24, 37, 0.1);
        border-radius: 32px;
        height: 150px;
        width: 90%;
        margin: auto;
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 11px;
        h3{
            color: rgba(255, 87, 34, 1);
            font-size: 35px;
        }
        p{
            font-size: 18px;
        }
    }
}
.star-logo{
    display: none;
}

@include for-device-width('md'){
    .travel-section{
        padding-top: 125px;
        
        &__img{
            margin-left: -$tablet-padding;
            img{
                width: 105%;
            }
        }
        &__content{
            padding-top: 22px;
            &__h1{
                margin-top: 45px;
                font-size: 23px;
                font-weight: 700;
                font-style: Bold;
                line-height: 120%;
                letter-spacing: 20%;
            }
            &__h2{
                padding-top: 20px;
                font-weight: 700;
                font-style: Bold;
                font-size: 38px;
                line-height: 120%;
                letter-spacing: 0%;
            }
            &__para{
                padding-top: 30px;
                width: 95%;
                margin: auto;
                font-weight: 400;
                font-size: 18px;
                line-height: 160%;
                letter-spacing: 0%;
                color: rgba(25, 24, 37, 0.5);
            }
        }
    }
    .travel-points {
        margin-top: 35px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 35px;
        row-gap: 15px;
        padding: 20px;
        &__point {
            text-align: center;
        }  
    }
}

@include for-device-width('lg'){
    .travel-section{
        display: flex;
        position: relative;
        &__img{
            padding-top: 60px;
            margin-left: -$desktop-padding;
            width: 160%;
            img{
                width: 100%;
            }
        }
        &__content{
            padding-top: 22px;
            text-align: left;
            &__h1{
                margin-top: 40px;
                font-size: 28px;
                font-weight: 700;
                font-style: Bold;
                line-height: 120%;
                letter-spacing: 20%;
            }
            &__h2{
                padding-top: 20px;
                font-weight: 700;
                font-style: Bold;
                font-size: 55px;
                line-height: 120%;
                letter-spacing: 0%;
            }
            &__para{
                padding-top: 45px;
                font-weight: 400;
                font-size: 22px;
                line-height: 160%;
                letter-spacing: 0%;
                color: rgba(25, 24, 37, 0.5);
            }
        }
    }
    .travel-points {
        margin-top: 70px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 35px;
        row-gap: 20px;
        padding: 20px;
        &__point {
            width: 270px;
            height: 190px;
            gap: 25px;
            text-align: center;
            h3{
                font-size: 40px;
            }
            p{
                font-size: 22px;
            }
        }  
    }
    .star-logo{
        position: absolute;
        display: block;
        width: 100%;
        right: -88%;
        top: 50%;
        img{
            width: 320px;
        }
    }
}
