.travel-section {
    padding-top: 115px;
    text-align: center;
    &__img {
        margin-left: -$sm-padding;
    }
    &__content {
        padding-top: 25px;
        &__h2 {
            padding-top: 20px;
        }
        &__para {
            padding-top: 30px;
            width: 90%;
            margin: auto;
        }
    }
}
.travel-points {
    padding-top: 30px;
    &__point {
        border: 1px solid #1819251a;
        border-radius: 32px;
        height: 150px;
        width: 90%;
        margin: auto;
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 11px;
        h4 {
            color: $orange-color;
            font-size: 35px;
        }
        p {
            font-size: 18px;
        }
    }
}
.star-logo {
    display: none;
}
.blur-yellow-bg {
    display: none;
}

@include for-device-width('md') {
    .travel-section {
        padding-top: 110px;

        &__img {
            margin-top: 15px;
            margin-left: -$md-padding;
            img {
                width: 105%;
            }
        }
        &__content {
            padding-top: 22px;
            &__h5 {
                margin-top: 45px;
            }
            &__h2 {
                padding-top: 20px;
            }
            &__para {
                padding-top: 30px;
                width: 95%;
                margin: auto;
            }
        }
    }
    .travel-points {
        margin-top: 45px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 35px;
        row-gap: 15px;
        padding: 20px;
        padding-bottom: 0px;
        &__point {
            text-align: center;
        }
    }
}

@include for-device-width('lg') {
    .travel-section {
        display: flex;
        position: relative;
        &__img {
            padding-top: 50px;
            margin-left: -170px;
            width: 160%;
            img {
                width: 104%;
            }
        }
        &__content {
            padding-top: 35px;
            text-align: left;
            &__h5 {
                margin-top: 40px;
            }
            &__h2 {
                padding-top: 25px;
            }
            &__para {
                padding-top: 35px;
            }
        }
    }
    .travel-points {
        margin-top: 60px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 35px;
        row-gap: 30px;
        padding: 20px;
        &__point {
            width: 270px;
            height: 190px;
            gap: 25px;
            text-align: center;
            h4 {
                font-size: 40px;
            }
            p {
                font-size: 22px;
            }
        }
    }
    .star-logo {
        position: absolute;
        display: block;
        right: -140px;
        top: 50%;
        img {
            width: 320px;
        }
    }
    .blur-yellow-bg {
        display: block;
        position: absolute;
        top: -15%;
        right: -35%;
        width: 500px;
        height: 500px;
        background-color: #facd49;
        filter: blur(450px);
    }
}
