$primary-color: #5d50c6;
$secondary-color: #f85e9f;
$para-color: #191825bf;
$nav-links-color: #191825bf;
$light-btn-border: #eeeeee;
$orange-color: #ff5722;
$sm-padding: 15px;
$md-padding: 60px;
$lg-padding: 150px;
$breakpoints: (
    md: 431px,
    lg: 1024px,
);
