$primary-color: #5d50c6;
$secondary-color: #f85e9f;
$para-color: #191825bf;
$light-btn-border: #eeeeee;
$sm-padding: rem(15);
$md-padding: rem(60);
$lg-padding: rem(150);
$breakpoints: (
    md: 431px,
    lg: 1024px,
);
