body {
    font-family: 'Circular Std', sans-serif;
    h5 {
        font-size: rem(15);
        font-weight: 700;
        line-height: 120%;
        letter-spacing: 20%;
        color: $secondary-color;
    }
    h2 {
        font-weight: 700;
        font-size: rem(30);
        line-height: 120%;
        letter-spacing: 0%;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        line-clamp: 3;
    }
    h2:hover {
        display: block;
    }
    h6 {
        font-size: rem(12);
    }
    p {
        line-height: 160%;
        letter-spacing: 0%;
        color: $para-color;
        font-weight: 400;
        font-size: rem(16);
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        line-clamp: 3;
    }
    p:hover {
        display: block;
    }
    button {
        transition: box-shadow 0.5s ease;
        img {
            display: block;
            object-fit: contain;
        }
    }
    button:hover {
        transform: translateY(-10%);
        box-shadow: 0 8px 16px $shadow-color;
    }
    @include for-device-width('md') {
        h5 {
            font-size: rem(23);
        }
        h2 {
            font-size: rem(38);
        }
        p {
            font-size: rem(18);
        }
    }
    @include for-device-width('lg') {
        h5 {
            font-size: rem(29);
        }
        h2 {
            font-size: rem(55);
        }
        p {
            font-weight: 400;
        }
    }
}
